* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: lightblue;
}
.container {
    width: 50rem;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    width: 100%;
}

/* ------- */

.todoDone{
    text-decoration: 2px solid line-through;
}
